
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edukate - Online Education Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->






            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">






                    </a>
                </div>
            </div>

    <!-- Topbar End -->

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div style="background:#0d6efd;border-radius:2%" class="container text-center my-5 py-5">


            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 15px 10px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-light px-4 px-lg-5" style="margin-left: 25px;margin-top:9px;">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="https://www.apply.eduhk.hk/ug/sites/default/files/2021-09/Bachelor-of-Science-%28Hons%29-in-Artificial-Intelligence-and-Educational-Technology.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                        <h1 class="display-4">First Choice For Online Education Anywhere</h1>
                    </div>
                    <p>At CTRLMS, we believe that education knows no boundaries. We're dedicated to providing a world-class online learning experience that empowers individuals of all ages and backgrounds to pursue their educational goals, unlock their potential, and transform their lives.

Our platform is designed to make learning accessible, convenient, and engaging. Whether you're a student seeking to expand your knowledge, a professional aiming to enhance your skills, or someone with a passion for lifelong learning, we have something for you.</p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h3 class="text-white" data-toggle="counter-up">Global</h3>

                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h3 class="text-white" data-toggle="counter-up">education</h3>

                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h3 class="text-white" data-toggle="counter-up">for</h3>

                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h3 class="text-white" data-toggle="counter-up">everyone!</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->

    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>CTRLMS</h1>
                    </a>
                    <p class="m-0">"CTRLMS is your gateway to a world of online learning opportunities. We're here to make education accessible, convenient, and engaging for everyone. Join us on this journey of lifelong learning, and together, we can unlock your full potential. Thank you for choosing CTRLMS for your educational needs.</p>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4 "style="margin-left:100px;">Get In Touch</h3>

                    <p><i class="fa fa-envelope mr-2" style="margin-left:100px;"></i> ctrl+future@program.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



                    </div>
                </div>


                    </div>
                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
